<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NewsHub.Home</title>
    
    
     <!-- normalize css -->
     <!-- <link rel = "stylesheet" href = "./resources/normalize.css"> -->
    <!-- font -->
   
   
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <!-- font awesome cdn -->
    <link rel="stylesheet" href="/https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
    <!-- magnific popup -->
    <!-- <link rel = "stylesheet" href = "resources/Magnific-Popup-master/dist/magnific-popup.css"> -->
    <!-- owl carousel -->
    <!-- <link rel = "stylesheet" href = "resources/OwlCarousel2-2.3.4/dist/assets/owl.carousel.css"> -->
    <link rel="stylesheet" href="/css/owl.carousel.css">
    <link rel="stylesheet" href="/css/animate.css">
    <!-- <link rel = "stylesheet" href = "resources/OwlCarousel2-2.3.4/dist/assets/owl.theme.default.css"> -->
    <!-- animate css -->
    <!-- <link rel = "stylesheet" href = "resources/animate.css-main/animate.css"> -->

    <!-- custom (main) css -->
     <link rel = "stylesheet" href = "css/index.css">
     <link rel="stylesheet" href="css/popup.css">
     
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
    
    
</head>
<body>
  
    
   <navigation>
        <div class="navigation" id="navigation">
            <div class="navbar">
                <div class="container">
                    <div class = "nav-toggler">
                        <a href = "/index" class = "navbar-brand"> NewsHuB
                        </a>
                        <a   class = "navbar-brand user">
                          <i class='bx bx-user-circle'><%=author%></i>
                      </a>
                        <button type = "button" class = "navbar-toggler" id = "navbar-toggler">
                          <i class = "fas fa-bars"></i>
                        </button>
                     </div>
                      <div class = "navbar-collapse">
                        <ul class = "navbar-nav">
                          <li class = "nav-item">
                            <a href = "/news" class = "nav-link">News</a>
                          </li>
                          <li class = "nav-item">
                            <a href = "#news-section" class = "nav-link">Feature</a>
                          </li>
                          <li class = "nav-item">
                            <a href = "#team" class = "nav-link">Team</a>
                          </li>
                          <li class = "nav-item">
                            <a href = "#faq" class = "nav-link">FAQ</a>
                          </li>
                          <li class = "nav-item">
                            <a href = "#contact" class = "nav-link">Contact</a>
                           
                          </li>
                          <li class = "nav-item">
                            <% if(token){ %>
                              <a href = "/logout" class = "nav-link">Logout</a>
                            <% } else{ %>  
                              <a href = "/login" class = "nav-link">Login</a>
                           <% } %>
                          </li>
                        </ul>
                      </div>
                </div>
            </div>
            
            
         </div>
        
    </navigation>
   <div id="errorBox">
     
        <% if ( errorMessage ) {%>
        
          <div id="errorBox" class="alert  errorMessage "style="background-color:  <%=errorMessage.type%>;" >
        
          <button type="button", style="padding: 10px; font: size 1.2em;" class="close- dismissBtn" id="dismissBtn"  data-dismiss="alert">&times;</button>
          
          <%=errorMessage.message %>
        
        </div>
        
        <%}%>
   </div>
    <div class="typeing-container" id="typeing">
      <div class="center title">
        <h1 style="color: white;">Get informed about what's happening on this planet!</h1>
      </div>
      <div class="center title">
        
        <h1 style="color:white">Welcome To NewsHuB!</h1>
        
      </div>
     
      <span class="txt-type"data-wait="3000" data-words='["Global News","Local News","College News","Upload Your Own News"]'></span>
    </div>

    <div class="news-section" id="news-section">
      <div class="container">
        <div class = "row">
          <div class = "detail-item wow animate__animated animate__fadeInLeft animate__slow">
            <span><i class = "fas fa-tablet-alt"></i></span>
            <h2><a href="/global-news">Global News</a></h2>
            <div class = "line"></div>
            <p class = "text">Visit this section to see all latest News of the world</p>
          </div>

          <div class = "detail-item wow animate__animated animate__fadeInUp animate__s">
            <span><i class = "far fa-bell"></i></span>
            <h2><a href="/articles">Local News</a></h2>
            <div class = "line"></div>
            <p class = "text">Visit this section to see all latest News of your locality</p>
          </div>

          <div class = "detail-item wow animate__animated animate__fadeInRight animate__slow">
            <span><i class = "far fa-bell"></i></span>
            <h2><a href="/articles/upload">Upload News</a></h2>
            <div class = "line"></div>
            <p class = "text">Visit this section to Upload Your  News  </p>
          </div>
          <div class = "detail-item wow animate__animated animate__fadeInRight animate__slow">
            <span><i class = "far fa-bell"></i></span>
            <h2><a href="/articles/collegeNews">College News</a></h2>
            <div class = "line"></div>
            <p class = "text">Visit this section to see all latest News of Your college</p>
          </div>
        </div>
      </div>
    </div>
     <!-- team section -->
     <section class = "team" id = "team">
      <div class = "container">
        <div class = "title">
          <h2 class = "wow animate__animated animate__bounceIn animate__slow">Meet Best News Uploader</h2>
          <p class = "text">Lorem ipsum dolor sit amet consectetur</p>
        </div>

        <div class = "row owl-carousel owl-theme wow animate__animated animate__fadeInUp animate__slow">
          <div class = "team-item">
            <div class = "team-img">
              <img src = "assest/team-1.jpg" alt = "">
             
              <div class = "team-icons">
                <a href = "#" class = "center">
                  <i class = "fab fa-facebook-f"></i>
                </a>
                <a href = "#" class = "center">
                  <i class = "fab fa-twitter"></i>
                </a>
                <a href = "#" class = "center">
                  <i class = "fab fa-instagram"></i>
                </a>
              </div>
            </div>
            <div class = "team-info">
              <h3>Full Name Here</h3>
              <span>Web Developer</span>
            </div>
          </div>

          <div class = "team-item">
            <div class = "team-img">
              <img src = "assest/team-2.jpg" alt = "">
              <div class = "team-icons">
                <a href = "#" class = "center">
                  <i class = "fab fa-facebook-f"></i>
                </a>
                <a href = "#" class = "center">
                  <i class = "fab fa-twitter"></i>
                </a>
                <a href = "#" class = "center">
                  <i class = "fab fa-instagram"></i>
                </a>
              </div>
            </div>
            <div class = "team-info">
              <h3>Full Name Here</h3>
              <span>Web Developer</span>
            </div>
          </div>

          <div class = "team-item">
            <div class = "team-img">
              <img src = "assest/team-3.jpg" alt = "">
              <div class = "team-icons">
                <a href = "#" class = "center">
                  <i class = "fab fa-facebook-f"></i>
                </a>
                <a href = "#" class = "center">
                  <i class = "fab fa-twitter"></i>
                </a>
                <a href = "#" class = "center">
                  <i class = "fab fa-instagram"></i>
                </a>
              </div>
            </div>
            <div class = "team-info">
              <h3>Full Name Here</h3>
              <span>Web Developer</span>
            </div>
          </div>

          <div class = "team-item">
            <div class = "team-img">
             <img src = "assest/team-4.jpg" alt = "">
              <div class = "team-icons">
                <a href = "#" class = "center">
                  <i class = "fab fa-facebook-f"></i>
                </a>
                <a href = "#" class = "center">
                  <i class = "fab fa-twitter"></i>
                </a>
                <a href = "#" class = "center">
                  <i class = "fab fa-instagram"></i>
                </a>
              </div>
            </div>
            <div class = "team-info">
              <h3>Full Name Here</h3>
              <span>Web Developer</span>
            </div>
          </div>

          <div class = "team-item">
            <div class = "team-img">
              <img src = "assest/team-5.jpg" alt = "">
             
              <div class = "team-icons">
                <a href = "#" class = "center">
                  <i class = "fab fa-facebook-f"></i>
                </a>
                <a href = "#" class = "center">
                  <i class = "fab fa-twitter"></i>
                </a>
                <a href = "#" class = "center">
                  <i class = "fab fa-instagram"></i>
                </a>
              </div>
            </div>
            <div class = "team-info">
              <h3>Full Name Here</h3>
              <span>Web Developer</span>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- end of team section -->

     <!-- faq section -->
     <section class = "faq" id="faq">
      <div class = "container">
        <div class = "title">
          <h2 class = "wow animate__animated animate__bounceIn animate__slow">People also ask:</h2>
         
        </div>

        <div class = "row wow animate__animated animate__fadeInUp animate__slow">
          <div class = "faq-item">
            <div class = "faq-head">
              <h3>What is Aim of NewsHub</h3>
              <span><i class = "fas fa-plus"></i></span>
            </div>
            <div class = "faq-content">
              <p class = "text">The main objective of NewsHuB is to manage the details of Latest Posts, Contents, Types, Advertisement, Media. It manages all the information about Latest Posts, News, Media, Latest Posts.</p>
              <p class = "text">The project is totally build at administrative end and only administrator has guaranteed the access</p>
            </div>
          </div>

          <div class = "faq-item">
            <div class = "faq-head">
              <h3>What are the news sources?</h3>
              
              <span><i class = "fas fa-plus"></i></span>
              
            </div>
            <div class = "faq-content">
              <p class = "text">We provide news to the users form renowned  sources like:<p>
              <ul>
                <li>Times Of India</li>
                <li>Hindustan Times</li>
                <li>NDTV News</li>
                </ul>
             
            </div>
          </div>

          <div class = "faq-item">
            <div class = "faq-head">
              <h3>What are the type of News On NewsHub?</h3>
              <span><i class = "fas fa-plus"></i></span>
            </div>
            <div class = "faq-content">
              <ul>
                <li>Global News</li>
                <li>Local News</li>
                <li>College News</li>

              </ul>
             
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- end of faq section -->
 <!-- contact section -->
 <section class = "contact" id = "contact">
  <div class = "container">
    <div class = "title">
      <h2 class = "wow animate__animated animate__bounceIn animate__slow">Contact Us</h2>
      <p class = "text">Send Your Feedback</p>
    </div>

    <div class = "row wow animate__animated animate__fadeInUp animate__slow">
      <div class = "contact-left">
        <h2>Comment Here</h2>
        <form action="/feedback" method="POST" id="feedbackForm">
          <input type = "text" class = "form-control name" placeholder="Name" name="username" required>
          <input type = "email" class = "form-control email" placeholder="Email" name="email" required>
          <textarea placeholder="Message" rows = "6" name="message" class="message" required></textarea>
          <button type = "submit" class = "submit-btn">Send Now</button>
        </form>
      </div>

      <div class = "contact-right">
        <div>
          <h2>Visit Office</h2>
          <p class = "text">1001 Parker Street, thane west india</p>
        </div>
        <div>
          <h2>Call Us</h2>
          <p class = "text">0033-2332=8448 / 8320-2838-0000</p>
        </div>
        <div>
          <h2>Send Email</h2>
          <p class = "text">NewsHub@gmail.com</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- end of contact section -->

<!-- footer -->
<footer class = "footer center">
  <div class = "container">
    <div>

      <p class = "text">Copyright &copy; NewsHub Website | All Rights Reserved</p>
    </div>
    <div class = "footer-links">
      <a href="https://www.facebook.com/shubham.varma.5895834" target="_blank" class="center">
        <i class="fab fa-facebook-f"></i>
      </a>
      <a href="https://www.instagram.com/shubham_vr_09/"target="_blank" class="center">
        <i class="fab fa-instagram"></i>
      </a>
      <a href="https://twitter.com/Shubham80213413?t=qBQ7lyvyLDnj-F3qxkD0Gw&s=09" target="_blank" class="center">
        <i class="fab fa-twitter"></i>
      </a>
      <a href = "#" class = "center">
        <i class = "fab fa-linkedin"></i>
      </a>
      <a href = "#" class = "center">
        <i class = "fab fa-twitter"></i>
      </a>
      
    </div>
  </div>
</footer>
<!-- end of footer -->
 
  
</body>
<!-- <script src = "./resources/jquery-3.5.1.js"></script> -->

<!-- owl carousel -->
<!-- <script src = "./resources/OwlCarousel2-2.3.4/dist/owl.carousel.js"></script> -->
<!-- wow js -->
<!-- <script src = "/resources/WOW-master/dist/wow.js"></script> -->
<script src="/js/jquery-3.5.1.js"></script>
<script src="/js/wow.js"></script>
<script src="/js/owl.carousel.js"></script>
<script src="/js/index.js"></script>
<script src="/js/typeing.js"></script>
<script src="/js/popup.js"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>

</html>