<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>News</title>
<link rel="stylesheet" href="css/news.css">
</head>

<body>
  {{>navigation}}


 

{{>translator}}

 


<h1>This is Secrit page</h1>

<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusantium inventore saepe fugit rem, asperiores explicabo suscipit illum aspernatur nisi, dolorum nesciunt cupiditate. Saepe, nemo? Libero, recusandae. Beatae praesentium itaque alias.
Similiquos rem, placeat laudantium non voluptatibus assumenda! Repellendus ab vitae, deserunt nulla ut, temporibus quo veritatis illo animi dolore sit voluptatum sed fugiat nostrum!
Beatae suscipit voluptas voluptatem architecto! Fuga non dignissimos optio sunt laboriosam rerum tenetur ea doloribus maxime labore sit sint, quas est. Culpa unde nam ipsa perspiciatis laborum magni similique odit.
Iusto est repellendus doloremque veniam officia nisi perspiciatis quia? Commodi dolores, numquam cupiditate nobis repellat assumenda ut nam voluptates laudantium ex sit esse itaque officiis hic cum similique eligendi pariatur.
Recus</p>
  {{>footer}}
</body>
{{!-- <script src="js/news.js"></script> --}}
{{!-- <script src="js/global.js"></script> --}}

</html>